<div class="container">
    <h1 class="title">Green House Insects Record</h1>

    <div class="row center">
        <form id="recordForm" class="col s12">
            <div class="input-field col s12">
                <input  placeholder="Area ID (e.g. A1)" id="areaID" type="text" class="validate" required>
                <label for="areaID"> Area ID </label>
            </div>
            <div class="input-field col s12">
                <input  placeholder="Amount of insects" id="insectsAmount" type="number" class="validate" required>
                <label for="insectsAmount"> Insects Amount </label>
            </div>
            <button type="submit" id="recordButton" class="waves-effect waves-light btn-large " style="background-color: #9E65A9;">
                <i class="material-icons left" style="color:white;">emoji_people</i>
                Record
            </button>
        </form>
        
    </div>
    
</div>